<!DOCTYPE HTML>
<head>
<!-- TODO ygiri
	Make this and other pages outstanding in appearance and usability! 
	After ajax save, refresh the page so the table reflects the saved data on the server
	Make table rows / cells or other fields non editable as appropriate
	Must be able to tab through table cells
	Allow entry / display of multiple spouses in the form 
	Add spinner while ajax calls run
	Add button next to the person row in the UI table to bring up a layover to gather additional person information,
		photo, birth date, notes, etc.
	Use a multi-select to allow selection of up to two parents
	Use multi-select for the Spouses selection
	Use a dropdown for gender
	
	Note on UI limitation because of spousal symmetry:
		If B is added as a spouse of A in the table, then after save, B will get added as a spouse of A
		On the flip side, when attempting to remove spouse A for person B, 
			need to also remove spouse B for person A in the table before saving
 -->
    <title>Edit Family Tree</title>
    <meta charset="UTF-8">

        <style>
            table {
                width: 70%;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid orange;
                padding: 5px;
  				text-align: left;
  				height: 10px;
  				vertical-align: bottom;
            }
            th {
			  background-color: orange;
			  color: white;
			}
            tr:nth-child(even) {background-color: #f2f2f2;}
        </style>
</head>
<body>
  
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<!-- <script src="jquery-3.4.1.js"></script> -->
<!-- <script type="text/javascript" th:src="@{/jquery-3.4.1.js}"></script> -->

<h4><a href="viewFamily">View Family Tree</a></h4>
<h2>Edit Family Tree</h2>
</p>
<h3>Use the table below to create and edit your family tree.</h3>
<br/>
Add a new person by clicking on the '+' button. Add spouses and parents by entering their IDs ( comma-separated ) in those columns.
 	<div style="overflow-x:auto;">
			<table id="family-table" align="center">
			    <thead>
			        <tr>
		            	<th><button onclick="addRow()">+</button></th>
		            	<th th:text="${T(io.kutumbini.web.model.Constants).ID}"/>
		                <th th:text="${T(io.kutumbini.web.model.Constants).FIRST_NAME}"/>
		                <th th:text="${T(io.kutumbini.web.model.Constants).LAST_NAME}"/>
		                <th th:text="${T(io.kutumbini.web.model.Constants).GENDER}"/>
		                <th th:text="${T(io.kutumbini.web.model.Constants).SPOUSES}"/>
		                <th th:text="${T(io.kutumbini.web.model.Constants).PARENTS}"/>
			        </tr>
			    </thead>
			    <tbody>
			        <tr th:each="row : ${session.editTableData}", contenteditable="true");>
			        	<td><button onclick="deleteRow(this)">-</button></td>
			            <td th:text="${row.person.id}"/>
			            <td th:text="${row.person.firstname}"/>
			            <td th:text="${row.person.lastname}"/>
			            <td th:text="${row.person.gender}"/>
			            <td th:text="${row.spouses}"/>
			            <td th:text="${row.parents}"/>
			        </tr>
			    </tbody>
			</table>
        <br>
        <button onclick="saveFamily()">Save</button> &nbsp; &nbsp; &nbsp;
        <button onclick="if(window.confirm('Are you sure you want to delete all?')) deleteAll()">Delete All</button>
	</div>
 	           	
<script>

function deleteRow(o) {
	    r = o.parentNode.parentNode;
	    id = r.cells[1].innerHTML;
	    deletePerson(id);
// 	    console.log("id: ", id);
        r.parentNode.removeChild(r);
   	}
   
	function addRow() {
	  // Get a reference to the table
	  table = document.getElementById("family-table");

	  // Insert a row at the beginning of the table
	  // the 0-row is column headers
	  newRow = table.insertRow(-1);
	  newRow.setAttribute('contenteditable', 'true');
	  // Insert cells
	  // cell0 is the 'delete row' button
	  cell0 = newRow.insertCell(0);
	  cell0.innerHTML = '<button onclick="deleteRow(this)">-</button>';
	  // cell1 is person id
	  cell1 = newRow.insertCell(1);
// 	  cell1.innerHTML = "n-" + (table.rows.length - 1);
	  
	  // first name
	  newRow.insertCell(2);
	  //last name
	  newRow.insertCell(3);
	  // gender
	  cell3 = newRow.insertCell(4);
	  // gender
	  newRow.insertCell(5);
	  // parents
	  newRow.insertCell(6);
	  
	  // create person on server and get id
	  createPerson(cell1);
	}
	
	function deletePerson(id) {
		console.log("deleting person with id: ", id);
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/deletePerson",
			data: id,
			dataType: 'json',
			cache: false,
			timeout: 100000,
			success: function (data) {
				console.log("SUCCESS : ", data);
			},
			error: function (e) {
				console.log("ERROR : ", e);
			}
		});
		
	}

	function deleteAll() {
		console.log("deleting the whole family!");
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/deleteAll",
			cache: false,
			timeout: 100000,
			success: function (data) {
				window.location.reload();
			},
			error: function (e) {
				console.log("ERROR : ", e);
			}
		});
		
	}

	function createPerson() {
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/createPerson",
			cache: false,
			timeout: 100000,
			success: function (data) {
				console.log("SUCCESS : ", data);
				cell1.innerHTML = data;
			},
			error: function (e) {
				console.log("ERROR : ", e);
			}
		});
		
	}
	
	function saveFamily() {
		var tdata = tableData();
		console.log("tdata:", tdata);
		tdata = JSON.stringify(tdata);
		console.log("json tdata:", tdata);
		
		$.ajax({
			type: "POST",
			contentType: "application/json",
			url: "/saveFamilyData",
			data: tdata,
			dataType: 'json',
			cache: false,
			timeout: 100000,
			success: function (data) {
				window.location.reload();
			},
			error: function (e) {
				console.log("ERROR : ", e);
			}
		});
		
	}
	
	function tableData() {
	    var tdata = [];
	    var table = document.getElementById("family-table");
	    // column names
// 	    var names = table.rows[0].cells;
	    var names= [];
	    for (var i = 0, row; row = table.rows[i]; i++) {
    	   tdata[i-1] = {};
    	   // skip the first column
    	   for (var j = 1, cell; cell = row.cells[j]; j++) {
        	   if (i == 0) {
            	   //top row is column names
        		   names[j] = cell.innerHTML;
        	   }
        	   else {
					tdata[i-1][names[j]] = cell.innerHTML;
        	   }
    	   	}
    	}
	    return tdata;
	    
	}
</script>
  
</body>
</html>